
<div class="container">
  <!-- <img height="32" width="32" src="img/admin-fill.svg" /> -->
  <div class="header">
    <div class="titre">
       <h1>
        Liste des Amazone
      </h1>
    </div>
    <div class="btn">
      <button class="button" ><i class="ri-user-add-line"></i> Nouvelle Amazone</button>
    </div>
  </div>

  <div class="spinner">
    <app-spinner label="chargement" [diameter]=56 *ngIf="isLoad">

    </app-spinner>
  </div>

    <div class="list">

    <app-item-users *ngFor="let item of utilisateurs" [item]="item">

    </app-item-users>

  </div>
</div>
