.container{
  margin: auto;
  // background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

  .header{
    width: 700px;
    display: flex;

    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    align-items: stretch;
    align-self: center;
    color: white;

    // width: 80vw;
    .titre{
      margin-right: 40px;
    }


  }
  .list{
    display: flex;
    flex-wrap: wrap;
    // width: 80vw;
    mat-card{
      // max-width: 300px;
      // background-color: red;
      margin: 16px;
      padding: 22px;


    }
  }
}
