.container{
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  .spinner{
    // background-color: red;
    // margin:22px auto;
    justify-content: center;
    width: 95vw;
    // height: 500px;
    // display: flex;

  }

  .header{
    display: flex;
    justify-content: center;
    color: white;
  }

  .list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    // justify-content: center;
    max-width: 1000px;
    margin-top: 36px;
    .item{
      margin: 18px;

    }
  }
}
