.container{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;


.formulaire{
  mat-card{
    // min-width: 400px;
    .group{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .select-group{
      margin: 16px auto;
      padding: 6px;
      border: 1px solid rgba(0, 0, 0, 0.268);
      mat-checkbox{
        font-size: 11px;
      }
    }

    mat-card-actions{
      button{
        padding: 12px;
        width: 120px;
        &:disabled{
          background-color: silver;
        }
      }
      // .button{
      //   background-color: red;
      // }
    }
  }
}

.list{
  margin: 4px 22px;
  border: 1px solid rgba(192, 192, 192, 0.444);
  padding: 12px;
  border-radius: 6px;
  header{
    color: white;
  }
  .body{
    .item{
      padding: 12px;
      margin: 6px;
      size: 12px;
      background-color: rgba(198, 203, 207, 0.564);
      border-radius: 4px;
      display: flex;
      justify-content: space-between;
      color: white;
      i{
        cursor: pointer;
        &:hover{
          transform: scale(1.02);
        }
      }

    }
  }
}


}

@media screen and (max-width: 600px) {
  .container{
    width: 100%;
    mat-card{
      width: 95vw;
    }

    .list{
      margin: 12px 1px;
    }
  }
}
