.container{
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;


  .spinner{
    // background-color: red;
    margin:22px auto;
    justify-content: center;
    width: 95vw;
    display: flex;

  }
  .header{
    display: flex;
    justify-content: center;
    color: white;
  }
  .body{
    .list{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
      // background-color: red;
      margin: auto;
      justify-content: center;
      // align-content:space-between;
      // align-items: start;
      .item{
        margin: 12px;
        mat-card{
          max-width: 300px;
          display: flex;
          border-radius: 12px;
        }
        mat-card-actions{
          margin: 18px;
          display: flex;
          justify-content: center;
          button{
            min-width: 200px;
            border-radius: 18px;
          }
        }
      }
    }
  }
}
