.container{
    // margin: 100px;
    // margin-top: 100px;
    position: relative;
    top: 100px;
    margin: auto;
  .time-line{
    display: flex;
    margin: auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    max-width: 400px;
    .line{
      // display: block;
      content: '';
      height: 4px;width: 120px;
      // background-color: blue;
      background-color: silver
      ;
    }
    .pont{
      // display: block;
      content: "";
      width: 20px;
      height: 20px;
      background-color: white;
      border: 1px solid rgba(172, 163, 163, 0.54);
      border-radius: 36px;
    }
    .active{
      background-color: blue;
    }
  }

  mat-card{
    margin: auto;
    max-width: 500px;

    mat-card-header{
      mat-card-title{
        font-size: 36px;
        font-weight: bolder;
      }
    }

    mat-card-content{
      .formulaire{
        input{
          min-width: 200px;
        }
        .group{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
        }
      }


    }
    mat-card-actions{
      button{
        margin: 22px 36px;
        border-radius: 4px;
        padding: 16px;
      }
    }
  }

}
