<div class="container">
  <div class="formulaire">
    <div class="garantie" >
      <form [formGroup]="formGarantie!" >
      <mat-card>
          <mat-card-header>
              <mat-card-title>Nouvelle Garantie</mat-card-title>
              <mat-card-subtitle>Subtitle</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>

                <div class="form-group">
                  <label for="categorie">Nom Garantie(*)</label>
                  <input type="text" name="garantie" formControlName="garantie" />
                </div>

                <div class="form-group">
                  <label for="categorie">Taux de prime</label>
                  <input type="number" name="rate" formControlName="rate" />
                </div>
                <div class="form-group">
                  <label for="categorie">Age Maximum</label>
                  <input type="number" name="min_age" formControlName="maxAge" />
                </div>
                <div class="form-group">
                  <label for="categorie">Prime minimal</label>
                  <input type="number" name="code" formControlName="minPrime" />
                </div>



          </mat-card-content>
          <mat-card-actions align="start">
              <div class="btn">
                  <button class="button" type="submit"  (click)="newGarantie()">Ajouter</button>
                  <button class="button" type="reset">Annuler</button>
                </div>

          </mat-card-actions>

      </mat-card>
      </form>
    </div>

  </div>
  <div class="list">
    <div class="header">
      <h2>
        Liste des Garanties disponibles
      </h2>
      <div class="body">
        <div class="item" *ngFor="let item of listGarantie">
          <span>
            {{item.name}}
          </span>
          <span style="position: relative;right: 0px;">
            <i class="ri-close-large-line"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
