
<div class="container">
  <div class="list-btn">
    <button [ngClass]="{'selected':currentBtn=='categorie'}" (click)="changeCurrentbtn('categorie')">
      <span>
        <img src="../../../../assets/illustration/voiture.png" alt="">
      </span>
      <span>Categorie Véhicule</span>
    </button>
    <button [ngClass]="{'selected':currentBtn=='garantie'}" (click)="changeCurrentbtn('garantie')">
      <span>
        <img src="../../../../assets/illustration/safe.png" alt="">
      </span>
      <span>Garantie</span>
    </button>

    <button [ngClass]="{'selected':currentBtn=='produit'}" (click)="changeCurrentbtn('produit')">
      <span>
        <img src="../../../../assets/illustration/safe.png" alt="">
      </span>
      <span>Produit Assurance</span>
    </button>

  </div>
  <div class="formulaire">
    <div class="categorie" *ngIf="currentBtn=='categorie'">
      <form [formGroup]="formCat!">
        <mat-card>
          <mat-card-header>
              <mat-card-title>Catégorie de Véhicule</mat-card-title>
              <mat-card-subtitle>Subtitle</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>

                <div class="form-group">
                  <label for="categorie">Catégorie de Véhicule</label>
                  <input type="text" name="categorie" formControlName="categorie" />
                </div>
                <div class="form-group">
                  <label for="categorie">Code (*)</label>
                  <input type="number" name="code" formControlName="code" />
                </div>
                <div class="form-group">
                  <label for="categorie">Description</label>
                  <textarea name="description" id="" cols="30" rows="5" placeholder="Décrivez le type de voiture en quelques ligne" formControlName="description"></textarea>
                </div>


          <div class="alert" *ngIf="responseCode">
            <app-alert [message]="responseMessage" [style]=responseCode>

            </app-alert>
          </div>
          </mat-card-content>
          <mat-card-actions>
              <div class="btn">
                  <button class="button" type="submit"  (click)="newCategorie()">Ajouter</button>
                  <button class="button" type="reset">Annuler</button>
                </div>

          </mat-card-actions>

      </mat-card>
      </form>
    </div>
    <!-- Garantie -->

    <div class="garantie" *ngIf="currentBtn=='garantie'">
      <app-garantie></app-garantie>
    </div>

    <!-- Produit Assurance -->
    <div *ngIf="currentBtn=='produit'">
      <app-produit></app-produit>
    </div>
  </div>
</div>
