.container{
  // margin: 76px auto;
  // max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  // background-color: red;
  align-self: center;
  justify-content: center;
  align-items: start;
  .list-btn{
    button{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      border-radius: 8px;
      border: none;
      width: 90px;
      margin: 16px;
      img{
        width: 58px;
      }

    }
    .selected{
        border: 3px solid blue;
      }
  }

  .formulaire{
    margin: 18px;
    mat-card{
      mat-card-actions{
        display: flex;
        flex-direction: row;
        // background-color: red;
        .btn{
          // background-color: red;
          display: flex;
          justify-content: center;
          margin: auto;
          .button{
            width: 100px;
            padding: 14px;
            border-radius: 8px;
            display: flex;
            flex-direction: row;
          }
        }

      }
    }


  }

  .list{
    display: flex;
    flex-direction: column;

  }

}

@media screen and (max-width:680px) {
  .list-btn{
    // background-color: red;
    display: flex;
    flex-direction: row;

  }
  .btn{
    margin: auto  ;
    .button{
    max-width: 80px;
    border-radius: 26px;
    // color: red;
  }
  }
}
