.container{

  // margin-top:8px;
  // max-width: 500px;
  align-self: center;
  position: fixed;
  justify-self: center;
  justify-items: center;
  // margin-bottom: 100px;
  z-index: 99;
  margin-top: 10px;
  // margin: auto;
  // background-color: red;
  width:100%;
  // padding: 18px;

  .mobile{
    display: none;
  }

  mat-card{
    background-color: rgb(25, 85, 160);
    border-radius: 36px;
    z-index: 99;
    mat-card-content{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      a{
        padding: 8px;
        text-transform: none;
        text-decoration: none;
        color: white;
        &:active{
          color: red;
          // background-color: yellow;
          font-weight: bold;
        }



      }
    }
  }
}

.active{
  color: red;
}

@media screen and (max-width:500px) {

  .container{
    .desktop{
      display: none;
    }
    background-color: transparent;
    .mobile{
      display: flex;
      flex-direction: column;

      align-items: center;
      // background-color: red;
        .icon{
          // background-color: red;
          color: white;
          font-size: 22px;

          i{
            padding: 16px;
            background-color: blue;
            border-radius: 8px;
          }
        }
        .list{
          background-color: rgba(66, 89, 188, 0.756);
          margin-top: 16px;
          border-radius: 11px;
          display: flex;
          justify-content: center;
          transition: 400s ease-in-out display;

          .items{
            // background-color: red;
            justify-content: center;
            display: flex;
            max-width: 200px;
            flex-direction: column;
            align-content: center;
            align-items: center;
            transition: 500s ease-in-out display;
            // align-self: center;
            a{
              // list-style: none;
              margin: 16px;
              color: rgb(255, 255, 255);
              // background-color: red;
              justify-content: center;
              text-decoration: none;
              padding: 8px;
            }
          }
        }
      }

  }

}
