<div class="container">
  <mat-card class="desktop">

      <mat-card-content>
          <div class="items">
            <a routerLink="subscription" routerLinkActive="is-active" >Souscription</a>
            <a routerLink="simulation" routerLinkActive="active" >Simulation</a>
            <a routerLink="list-souscriptions" routerLinkActive="active" >Mes Souscription</a>
            <a routerLink="list-devis" routerLinkActive="active" >Mes Dévis</a>
            <a (click)="logout()"><i class="ri-logout-box-line" ></i></a>
          </div>
      </mat-card-content>

  </mat-card>




  <div class="mobile">
    <div class="icon" >
            <i class="ri-menu-line" (click)="viewMobileMenu()" *ngIf="showMenu==false"></i>
            <i class="ri-close-large-line" (click)="viewMobileMenu()" *ngIf="showMenu==true"></i>
          </div>
          <div class="list" *ngIf="showMenu==true">
            <div class="items">
            <a routerLink="subscription">Souscription</a>
            <a routerLink="simulation">Simulation</a>
            <a routerLink="list-souscriptions">Mes Souscription</a>
            <a routerLink="list-devis">Mes Dévis</a>
            <a (click)="logout()"><i class="ri-logout-box-line"></i></a>
          </div>
          </div>
  </div>



</div>
