<div class="container">
  <mat-card class="desktop">

      <mat-card-content>
          <div class="items">

            <a  [routerLinkActive]="active" routerLink="subscription" [routerLinkActiveOptions]="{exact:false}" >Souscription</a>
            <a routerLinkActive="active" routerLink="simulation" [routerLinkActiveOptions]="{exact:true}" (click)="viewMobileMenu()"  >Simulation</a>
            <a routerLink="list-souscriptions" routerLinkActive="active" [routerLinkActiveOptions]="{exact:false}" (click)="viewMobileMenu()">Mes Souscription</a>
            <a routerLink="list-devis" routerLinkActive="active" [routerLinkActiveOptions]="{exact:false}" (change)="viewMobileMenu()">Mes Dévis</a>
            <a routerLink="list-clients" routerLinkActive="active" [routerLinkActiveOptions]="{exact:false}" (change)="viewMobileMenu()">Mes Clients</a>
            <a (click)="logout()"><i class="ri-logout-box-line" ></i></a>
          </div>
      </mat-card-content>

  </mat-card>




  <div class="mobile">
    <div class="icon" >
            <i class="ri-menu-line" (click)="viewMobileMenu()" *ngIf="showMenu==false"></i>
            <i class="ri-close-large-line" (click)="viewMobileMenu()" *ngIf="showMenu==true"></i>
          </div>
          <div class="list" *ngIf="showMenu">
            <div class="items">
            <a routerLink="subscription" (click)="viewMobileMenu()" routerLinkActive="active">Souscription</a>
            <a routerLink="simulation" (click)="viewMobileMenu()" routerLinkActive="active">Simulation</a>
            <a routerLink="list-souscriptions" (click)="viewMobileMenu()" routerLinkActive="active" >Mes Souscription</a>
            <a routerLink="list-devis" (click)="viewMobileMenu()"routerLinkActive="active">Mes Dévis</a>
            <a routerLink="list-clients" routerLinkActive="active" [routerLinkActiveOptions]="{exact:false}" (change)="viewMobileMenu()">Mes Clients</a>
            <a (click)="logout()"><i class="ri-logout-box-line"></i></a>
          </div>
          </div>
  </div>



</div>
